.small {
	background: url(./data/4x4.json);
}
.medium {
	background: url(./data/32x32.json);
}
canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    text-align: center;
    display: flex;
    border: black solid 1px;
    background: white;
	width: 30vw;
    height: 56vh;
}
span {
	position: relative;
    left: 30%;
    bottom: 40px;
	display: flex;
    justify-content: start;
	width: 65%;
}
.big {
	width: 800px;
	height: 800px;
	background: url(./data/image.png);
}
section {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;
}
.colors, .tools {
	display: flex;
    flex-flow: column;
    position: relative;
	left: 5%;
    float: left;
    width: 15%;
    height: 40vh;
}
.colors {
	top: 45vh;
    height: 40vh;
    left: -10%;
}
.colors button, .tools button {
	
	background: none;
    border: none;
	height: 25%;
	font-size: 1.5em;
}
.tools button {
	display: flex;
    justify-content: start;
}

#blue {
    border: none;
}
#red {
    border: none;
}
.prev-color {
    border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 70%;
	position: relative;
	top: 13px;
}
.current-color {
    border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 70%;
	position: relative;
	top: 13px;
}
.red {
    border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background: red;
    width: 25%;
    height: 70%;
	position: relative;
	top: 13px;
}
.blue {
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: blue;
    width: 25%;
    height: 70%;
	position: relative; 
	top: 13px;  
}
.matrixs {
	display: flex;
    flex-flow: column;
    float: right;
    position: relative;
	bottom: 54vh;
	right: 5%;
    width: 15%;
    height: 40vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.matrixs button {
	height: 33.3%;
	background: none;
    border: none;
	font-size: 1.5em;
}
.paint-bucket {
	background: url(./data/tools-sprites.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    background-position: -54px -5px;
	margin-left: 10px;
}
.choose-color {
	background: url(./data/tools-sprites.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    background-position: -4px -33px;
	margin-left: 10px;
}
.move {
	background: url(./data/tools-sprites.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    background-position: -5px 1px;
	margin-left: 10px;
}
.transform {
	background: url(./data/tools-sprites.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    background-position: -50px -38px;
	margin-left: 10px;
}