# Dependencies
node_modules

# Build output
dist
dist-ssr

# Test / coverage
coverage

# TypeScript incremental build info
*.tsbuildinfo

# Local env & editor
*.local
.env
.env.*
!.env.example
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
